C:\Users\bot-w\Google Drive\DAGAutomator\Master\generated_RI_files\*_fnma_checking_case*.xml
C:\Users\bot-w\Google Drive\DAGAutomator\Master\generated_RI_files\*_fnma_investment_case*.xml
C:\Users\bot-w\Google Drive\DAGAutomator\Master\generated_dag_files\*_securebank_1.xml*.xml
C:\Users\bot-w\Google Drive\DAGAutomator\Master\generated_dag_files\*_investment_1.xml*.xml
C:\Users\bot-w\Google Drive\DAGAutomator\Master\generated_dag_files\*_checking_*.xml*.xml
C:\Users\bot-w\Google Drive\DAGAutomator\Master\generated_dag_files\*_checking_01_veracity*.xml*.xml
